<section class="about">
  <header class="page-header">
    <h1>About Us</h1>
  </header>
  <h2>Mowgli</h2>
  <a title="Maurice de Becque, Public domain, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Becque_-_Livre_de_la_jungle,_p42.jpeg"><img width="512" alt="Becque - Livre de la jungle, p42" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d2/Becque_-_Livre_de_la_jungle%2C_p42.jpeg/512px-Becque_-_Livre_de_la_jungle%2C_p42.jpeg"></a>
  <p><%= Faker::Hipster.paragraph(4) %></p>
</section>

